<div class="row justify-content-center mt-5">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-header text-center">

                <h3>Swalayan Berkat Kasih</h3>

                <p class="text-muted mb-0">

                    Silakan Login

                </p>

            </div>

            <div class="card-body">

                {{#if pesanError.length}}

                <div class="alert alert-danger">

                    <ul class="mb-0">

                        {{#each pesanError}}

                        <li>{{this}}</li>

                        {{/each}}

                    </ul>

                </div>

                {{/if}}

                <form action="/auth/login" method="POST">

                    <div class="mb-3">

                        <label>Email</label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            value="{{formData.email}}">

                    </div>

                    <div class="mb-3">

                        <label>Password</label>

                        <input
                            type="password"
                            name="password"
                            class="form-control">

                    </div>

                    <button
                        class="btn btn-primary w-100">

                        Login

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>