<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aplikasi Kasir</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand" href="/">

                Swalayan Berkat Kasih

            </a>

            {{#if session.user_id}}

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div
                class="collapse navbar-collapse"
                id="navbar">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/kategori/list">Kategori</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/produk/list">Produk</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/transaksi/list">Transaksi</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/pembayaran/list">Pembayaran</a>
                    </li>

                </ul>

                <span class="navbar-text me-3">

                    {{session.nama}}

                </span>

                <a
                    href="/auth/logout"
                    class="btn btn-danger btn-sm">

                    Logout

                </a>

            </div>

            {{/if}}

        </div>

    </nav>

    <div class="container mt-4">

        {{{body}}}

    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>